/* Heading Css*/
.heading{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    padding: 5px 20px;
}
.logo > img{
    width : 100px;
}

.navbar {
    margin: auto 40px;
}
.navbar > ul {
    display: flex;
    list-style: none;
}

.navbar > ul > li{
    font-size: 20px;
    margin: 20px;
    cursor : pointer;
}

.navbar > ul > li:hover{
    font-size: 22px;
}

.login-btn{
    padding: 0px 30px;
}

/* Body Css */
.search{
    padding: 10px;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
}

.res-card{
    padding: 5px;
    margin: 5px;
    width : 200px;
    background-color: #f0f0f0;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.res-card > img {
    width: 100%;
}

.filter-button-container{
    margin : 10px;
}

.filter-btn{
    padding: 5px;
    margin-left: 10px;
}

/* Shimmer UI */
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    padding: 5px;
    margin: 5px;
    width : 200px;
    height: 300px;
    background-color: #f0f0f0;
}


/*  About */
.about-card{
    padding: 10px;
    border: 4px dotted black;
    margin-top: 2px;
}
